
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">mu</th>
        <th scope="col">sigma</th>
        <th scope="col">Photo</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let rank of ranking; index as i">
        <th scope="row">{{ rank.node }}</th>
        <td *ngFor="let photo of rank.photos">
            <img [src]="'http://192.168.20.3:3000/static/' + photo.filename" width="400px"/>
        </td>
    </tr>
    </tbody>
</table>